@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora&family=Nunito:wght@500&family=REM&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.contact-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-card {
    background: linear-gradient(120deg,darkgreen,pink);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

p {
    margin: 5px 0;
}


